:root {
  --border: rgb(179, 179, 179) 2px solid;
  --bgc: rgb(227, 215, 255);
  --font-family: consolas;
  --shadow: 1px 2px 5px rgba(255, 255, 255, 0.5);
  --color: rgb(101, 80, 185);
}
* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-size: 12px;
  font-family: var(--font-family);
  position: relative;
  overflow: hidden;
  background: url("../images/index-bg.jpg") no-repeat;
  background-size: cover;
}
.header {
  width: 100%;
  height: 18vh;
  color: #fff;
  padding-top: 10px;
}
.header img {
  width: 10vh;
  height: 10vh;
  border-radius: 50px;
  box-shadow: var(--shadow);
}
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: var(--shadow);
  border-radius: 5px;
  overflow: hidden;
}
.nav-list {
  flex: 25%;
  height: 20vh;
  border-left: rgba(197, 209, 231, 0.6) 5px double;
  position: relative;
}
.nav-list.mouseover {
  animation: nav-mouseover 0.6s forwards;
}
.nav-list.mouseout {
  animation: nav-mouseout 0.2s forwards;
}
.resume {
  background: url("../images/index-cover-resume.jpg");
  background-size: 150%;
}
.calendar {
  background: url("../images/index-cover-calendar.jpg");
  background-size: 150%;
}
.game {
  background: url("../images/index-cover-game-2.jpg");
  background-size: 150%;
}
.cover {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(24, 30, 41, 0.6);
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  opacity: 0;
}
.cover.show {
  animation: show-btn 1s forwards;
}
.cover.hide {
  animation: hide-btn 1s forwards;
}
.footer {
  position: fixed;
  width: 100%;
  height: 2vh;
  padding-top: 10px;
  text-align: center;
  font-size: 11px;
}
@keyframes show-btn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hide-btn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes nav-mouseout {
  0% {
    background-position-y: -100px;
  }
  100% {
    background-position-y: -20px;
  }
}
@keyframes nav-mouseover {
  0% {
    background-position-y: -20px;
  }
  100% {
    background-position-y: -100px;
  }
}
#form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) scale(0.9);
  width: 200px;
  height: 100px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: var(--shadow);
  opacity: 0;
  z-index: -99;
  transition: all 0.5s ease-in-out;
}
#form.show {
  opacity: 1;
  z-index: 99;
  transition: all 1s ease-in-out;
}
.pw {
  margin: 20px 10px;
}
#error {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  padding: 5px 20px;
  transform: translateX(-50%);
  border-radius: 5px;
  background-color: rgb(0, 0, 0, 0.5);
  box-shadow: var(--shadow);
  opacity: 0;
  z-index: -99;
  transition: all 1s ease-in-out;
}
#error.show {
  opacity: 1;
  z-index: 99;
  transition: all 0.5s ease-in-out;
}
